<div class="container">
    <!-- No data message -->
    <p *ngIf="Movie.length <= 0" class="no-data text-center">There is no movie added yet!</p>

    <!-- Movie list -->
    <table class="table table-bordered" *ngIf="Movie.length > 0">
    <thead class="table-success">
        <tr>
        <th scope="col" [appSort]="Movie" data-order="desc" data-name="createdAt">Creating Time:
            <img src="../../../assets/sort.png">
        </th>
        <th scope="col" [appSort]="Movie" data-order="desc" data-name="name">Name:
            <img src="../../../assets/sort.png">
        </th>
        <th scope="col" [appSort]="Movie" data-order="desc" data-name="rating">Rating
            <img src="../../../assets/sort.png">
        </th>
        <th scope="col">Page URL</th>
        <th scope="col">Likes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of Movie; let i = index">
        <th scope="row">{{formattedDate(movie.createdAt)}}</th>
        <td>{{movie.name}}</td>
        <td>{{movie.rating}}</td>
        <td><a href="{{movie.pageUrl}}" target="_blank">Visit IMDB Page</a></td>
        <td>	
        <div class="panel-body">
            <div style="display: inline-block" (click)="toggleLike(movie, i)"> 
                <svg *ngIf="!movie.likes" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg>

                <svg *ngIf="movie.likes" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
            </div>
        </div>
    </td>
        <td class="text-center edit-block">
            <span class="edit" [routerLink]="['/edit-movie/', movie._id]">
            <button type="button" class="btn btn-success btn-sm">Edit</button>
            </span>
            <span class="delete" (click)="removeMovie(movie, i)">
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
            </span>
        </td>
        </tr>
    </tbody>
    </table>
</div>